@import "tailwindcss";

@keyframes float {
  0%, 100% {
    transform: translateY(-10px) rotate(0deg);
  }
  50% {
    transform: translateY(10px) rotate(1.5deg);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}
